html,body{
  height: 100%;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 100%;
  }
.博麗大結界{
  position: relative;
  text-align: center;
}
.博麗神社{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.幻想郷{
  text-align: center;
  filter:opacity(30%);
}
.back{
  font-size: 30px;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 2px solid #995387;
  padding: 0;
  margin-top: 40px;
  width: 40px;
  height: 40px;
  line-height: 35px;
  display: block;
  border-radius: 50%;
  cursor: pointer;
}
.top{
  font-size: 40px;
  margin: 30px;
  margin-top: 50px;
  padding-bottom: 5px;
  border-bottom: 2px solid #995387;
  display: inline-block;
  cursor: pointer;
}
#tabcontent_1 ul {
  list-style: none;
  padding: 0px;
  display: inline-block;
}
#tabcontent_1 ul li {
  position: relative;
  margin: 0px;
  margin-top: 30px;
  cursor: pointer;
  font-size: 40px;
}
#tabcontent_1 ul li::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  background-color: #995387;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
#tabcontent_1 ul li:hover::after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.title{
  margin: 0px;
  padding-top: 40px;
  font-size: 40px;
}
.霧雨魔法店{
  font-size: 20px;
  margin: 20px 0;
  padding: 0;
}
.霧雨魔理沙{
  padding: 10px;
  display: inline-block;
  width: 175px;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 10px;
  border-bottom: 1px solid #995387;
}
.八卦炉{
  margin:0;
  padding: 0;
}
i{
  font-size: 20px;
  font-style: normal;
}
a:link,a:hover,a:visited{
  color: #995387;
  text-decoration: none;
}
.icon{
  border-radius: 50%;
  border: 4px solid #868686;
  display:　block;
  }
@media screen and (max-width: 500px) {
  img {
    max-width: 100%;
    height: auto;
  }
  .top{
    margin: 0px;
    margin-top: 20px;
    font-size: 30px;
}
