body{
  overflow: hidden;
}
.all{
  overflow: visible;
}
img{
  float: left;
}
#content{
  margin-top: 20px;
  padding: 10px 40px;
  position: relative;
  border-radius: 10px;
	border: 2px solid #ff7878;
}
#content:after,#content:before{
  right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
#content:after{
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #ffffff;
  border-width: 20px;
  margin-top: -20px;
}
#content:before{
  border-color: rgba(255, 120, 120, 0);
  border-right-color: #ff7878;
  border-width: 23px;
  margin-top: -23px;
}
.dick{
  margin-left: 600px;
  position: absolute;
}
.back{
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
}
.top{
  font-size: 40px;
  margin: 30px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ff7878;
}
ul {
  list-style: none;
  padding: 0px;
  display: inline-block;
}
li {
  margin: 0px;
  padding-top: 30px;
  cursor: pointer;
  font-size: 40px;

}
.title{
  margin: 0px;
  padding-top: 70px;
  font-size: 40px;
}
table{
  padding-top: 10px;
  font-size: 20px;
  text-align: left;
}
th{
	padding: 10px;

}
td{
	padding: 10px 50px;
  padding-right: 0px;
	vertical-align: top;

}
