body{
  overflow-y: hidden;
  margin: 30px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 100%;
  background-color: #f798d9;
  color: #573f53;
  }
.all{
  overflow: visible;
  width: 1500px;
  margin: 0 auto;
}
img{
  float: left;
}
a{
  text-decoration: none;
}
#content{
  margin-top: 20px;
  padding: 10px 40px;
  position: relative;
}
.dick{
  margin-left: 600px;
  position: absolute;
}
.back{
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
}
.top{
  font-size: 40px;
  margin: 30px;
  padding-bottom: 5px;
  border-bottom: 2px solid #8c2a83;
}
ul {
  list-style: none;
  padding: 0px;
  display: inline-block;
}
li {
  margin: 0px;
  margin-top: 30px;
  cursor: pointer;
  font-size: 40px;
}
.title{
  margin: 0px;
  padding-top: 40px;
  font-size: 40px;
}
table{
  padding-top: 10px;
  font-size: 20px;
  text-align: left;
  overflow: scroll;
}
th{
	padding: 10px;
}
td{
	padding: 10px 50px;
  padding-right: 0px;
	vertical-align: top;
}
